@page
@model IndexModel
@{
    ViewData["Title"] = "Addition";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.Now</p>
    <div class="jumbotron">
        <p class="lead">Input 1:
            <input type="text" />
        </p>
        <p class="lead">Input 2:
            <input type="text" />
        </p>
        <p><a href="http://www.asp.net" class="btn btn-primary btn-lg">Addition</a></p>
        <p class="lead">Output : 000</p>
        </p>
    </div>
</div>
